@import ../base/variables
@import ../base/swatches
@import ./buttons/fileExplorer
@import ./buttons/small
@import ./buttons/square-tab

%button
  $size: 38px

  display: inline-block
  box-sizing: border-box
  min-width: 144px
  height: $size
  margin: 0 4px
  padding: 0 20px
  border: none
  border-radius: 50px
  line-height: $size
  font-family: $font-primary
  outline: none
  user-select: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.button-primary
  @extend %button

  font-weight: bold
  background-color: $color-primary
  color: white
  font-size: 14px

  &:hover
    background-color: $color-primary-shade
  &:active,
    background-color: darken($color-primary-shade, 10%)
  &:disabled
    background-color: $swatch-light-gray
    box-shadow: none
    color: $color-placeholder
    cursor: not-allowed

.button-secondary
  @extend %button

  background-color: white
  color: $color-text
  font-weight: bold
  font-size: 14px

  &:hover
    background-color: $swatch-light-gray
  &:active
    background-color: $swatch-light-gray-shade
  &:disabled
    background-color: none
    color: $color-placeholder


// Main color
.button-primary.stop
  background-color: $color-danger
  &:hover
    background-color: $color-danger-shade
  &:active
    background-color: darken($color-danger-shade, 10%)

.button-primary.resume
  background-color: $color-primary // $color-warning
  &:hover
      background-color: $color-primary-shade // $color-warning-shade
  &:active
    background-color: darken($color-primary-shade, 10%)