@import ../base/variables

$color-normal: $color-border
$color-normal-active: $color-warning
$color-special: $color-danger

.flag-signal
  display: inline-block
  margin-right: 16px // 16px if 4 iconx,  12px if 5 icons, 8px if 6 icons
  color: $swatch-dark-gray
  text-align: center
  cursor: default
  user-select: none

  &:last-child
    margin-right: 0

  .circle
    $size: 24px
    
    width: $size
    height: $size
    margin: 0 auto
    border-radius: 50px
    background-color: $swatch-light-gray
    color: $color-placeholder
    font-family: $font-code

    .icon
      font-size: 14px
      line-height: $size

.flag-signal.danger
  .circle
    color: $color-normal

.flag-signal.active
  .circle
    background-color: $color-normal-active
    color: $swatch-sunflower-dark

.flag-signal.danger.active
  .circle
    background-color: $color-special
    color: white