[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rocket:before {
  content: "\a899";
}
.icon-background-image:before {
  content: "\a900";
}
.icon-break:before {
  content: "\a901";
}
.icon-button-a:before {
  content: "\a902";
}
.icon-button-b:before {
  content: "\a903";
}
.icon-button-r:before {
  content: "\a904";
}
.icon-button-start:before {
  content: "\a905";
}
.icon-carry:before {
  content: "\a906";
}
.icon-delete:before {
  content: "\a907";
}
.icon-direction-down:before {
  content: "\a908";
}
.icon-direction-left:before {
  content: "\a909";
}
.icon-direction-right:before {
  content: "\a90a";
}
.icon-direction-up:before {
  content: "\a90b";
}
.icon-edit:before {
  content: "\a90c";
}
.icon-go-up:before {
  content: "\a90d";
}
.icon-hardware:before {
  content: "\a90e";
}
.icon-interrupt:before {
  content: "\a90f";
}
.icon-loader:before {
  content: "\a910";
}
.icon-memory:before {
  content: "\a911";
}
.icon-menu-open-close:before {
  content: "\a912";
}
.icon-menu-open:before {
  content: "\a913";
}
.icon-negative:before {
  content: "\a914";
}
.icon-overflow:before {
  content: "\a915";
}
.icon-play:before {
  content: "\a916";
}
.icon-quick:before {
  content: "\a17";
}
.icon-sound:before {
  content: "\a918";
}
.icon-sprite:before {
  content: "\a919";
}
.icon-stack:before {
  content: "\a91a";
}
.icon-step-foward:before {
  content: "\a91b";
}
.icon-storage-alt:before {
  content: "\a91c";
}
.icon-storage:before {
  content: "\a91d";
}
.icon-video:before {
  content: "\a91e";
}
.icon-zero:before {
  content: "\a91f";
}