@import ../base/variables
@import ../base/swatches

.input-signal
  display: inline-block
  width: 20px
  margin-right: 6px
  text-align: center
  user-select: none

  &:last-child
    margin-right: 0
  
  .icon
    color: $color-placeholder
    font-size: 20px

.input-signal.active
  .icon-direction-up,
  .icon-direction-down,
  .icon-direction-left,
  .icon-direction-right
    color: $swatch-dark-gray-shade

  .icon-button-start,
  .icon-button-r
    color: $swatch-dark-gray

  .icon-button-a
    color: $swatch-blue-jeans

  .icon-button-b
    color: $swatch-sunflower