@import ../base/_variables

%memory-block
  $height: 24px

  float: left
  overflow: hidden
  width: 22px
  height: $height
  text-align: center
  font-family: $font-code
  line-height: $height
  user-select: none
  cursor: default

.memory-blocks
  .value
    @extend %memory-block

    color: $color-placeholder
    font-size: 12px

    &.active
      color: $color-text

    &.dissabled:before
      display: block
      margin: 0 auto
      content: "•"
      color: $color-placeholder
    &.dissabled
      color: transparent

    &:hover
      background-color: $color-background

  .address
    @extend %memory-block

    background-color: $color-background
    color: $swatch-dark-gray
    font-family: $font-primary
    font-size: 8px

  .label
    @extend %memory-block

    overflow: hidden
    width: 72px
    padding-left: $margin-small-horizontal
    font-family: $font-primary
    font-size: 12px
    text-align: left

  .heading
    @extend %memory-block
    $height: 16px

    height: $height
    color: $swatch-dark-gray
    line-height: $height
    font-family: $font-primary
    font-size: 8px

  .sprite-container
    @extend %memory-block

    box-sizing: border-box
    margin-left: $margin-small-horizontal
    width: 24px
    overflow: hidden

    .sprite-tile
      $size: 384px

      width: $size
      height: $size
      image-rendering: pixelated

  .value-with-address
    @extend %memory-block

    overflow: auto
    position: relative

    .address
      $height: 8px
      position: absolute
      height: $height
      font-size: 6px
      line-height: $height

    .value
      line-height: 30px