@import ../base/variables

.token
  font-family: $font-code
  color: $color-placeholder

  &.opcode
    color: $color-code-text
    text-transform: uppercase

  &.immediate,
  &.binary
    color: $color-code-immediate

  &.address
    color: $color-code-address

  &.label
    color: $color-code-text
    font-weight: bold

  &.comment
    color: $color-code-comment
    font-weight: lighter

  &.bad-immediate,
  &.bad-opcode,
  &.bad-address,
  &.bad-binary
    color: $color-code-error