@import ../base/variables

// # Headings
h1, h2, h3, h4, h5, h6
  margin-top: 0
  cursor: default
  user-select: none

h2
  font-size: 18px

h3
  color: $swatch-dark-gray
  font-size: 11px
  font-weight: 400
  text-transform: uppercase
  margin-bottom: $margin-small-vertical

p, li
  margin-top: 0
  font-size: 12px

a
  color: $color-info

td
  font-size: 12px

small 
  font-size: 10px