@import "../../base/_variables"
  
// refactor
a.btn-primary
  line-height: 32px !important
  text-align: center
  display: inline-block
  text-decoration: none

.explorer .btn-primary,
.explorer .btn-secondary,
    display: block
    margin: 0 auto
    width: 144px
    border: none
    border-radius: 50px
    font-family: $font-primary
    outline: none
    user-select: none
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  
// Primary
.explorer .btn-primary
  $height: 32px

  height: $height
  margin-bottom: $margin-medium
  background-color: $swatch-light-gray-shade
  line-height: $height / 2
  font-size: 14px
  font-weight: bold
  color: $color-text

  &:hover
    background-color: $swatch-medium-gray
  &:active
    background-color: $swatch-medium-gray-shade

// Secondary
.explorer .btn-secondary
  $height: 28px
  
  height: $height
  background: none
  font-family: $font-primary
  font-size: 12px
  line-height: $height / 2

  &:hover
    background-color: $swatch-light-gray-shade
  &:active
    background-color: $swatch-medium-gray
    color: $color-text
