.button-small
  min-width: 65px
  height: 24px
  background: none
  border: none
  border-radius: 50px
  font-size: 12px
  color: $color-text
  line-height: 20px
  font-family: $font-primary
  outline: none
  user-select: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:hover
    background-color: $color-background
  &:active,
  &.active
    background-color: $color-background-shade