@import "../../base/_variables"

.button-tab
  width: 55px
  margin: 0
  padding: 0
  background: none
  border: none
  color: $color-text
  font-family: $font-primary
  font-size: 10px
  outline: none
  user-select: none

  .round-square
    $size: 24px
    
    width: $size
    height: $size
    margin: 0 auto $margin-small-vertical
    border-radius: 9px
    color: $swatch-medium-gray
    font-family: $font-code

    .icon
      font-size: 14px
      line-height: $size

  &:hover,
  &.active
    &.red
      .round-square
        color: $swatch-grapefruit
    &.orange
      .round-square
        color: $swatch-bittersweet
    &.yellow
      .round-square
        color: $swatch-sunflower
    &.green
      .round-square
        color: $swatch-grass
    &.teal
      .round-square
        color: $swatch-mint
    &.cyan
      .round-square
        color: $swatch-aqua
    &.blue
      .round-square
        color: $swatch-blue-jeans
    &.purple
      .round-square
        color: $swatch-lavander
    &.pink
      .round-square
        color: $swatch-pink-rose

  &:active,
  &.active
    font-weight: bold
    &.red
      .round-square
        color: white
        background-color: $swatch-grapefruit
    &.orange
      .round-square
        color: white
        background-color: $swatch-bittersweet
    &.yellow
      .round-square
        color: white
        background-color: $swatch-sunflower
    &.green
      .round-square
        color: white
        background-color: $swatch-grass
    &.teal
      .round-square
        color: white
        background-color: $swatch-mint
    &.cyan
      .round-square
        color: white
        background-color: $swatch-aqua
    &.blue
      .round-square
        color: white
        background-color: $swatch-blue-jeans
    &.purple
      .round-square
        color: white
        background-color: $swatch-lavander
    &.pink
      .round-square
        color: white
        background-color: $swatch-pink-rose

// To avoid cropping long wordd of the last memory labels
.button-tab:last-child
  margin-right: $margin-small-horizontal
