@import ../base/variables

#code-editor
  $space-toolbar: 80px
  $space-vertical: $margin-big
  $space-horizontal: $margin-big
  $line-height: 18px
  $font-size: 14px

  flex-grow: 1
  position: relative
  margin-right: $margin-medium

  .placeholder
    position: absolute
    left: $space-horizontal
    top: $space-vertical
    color: $color-placeholder
    font-family: $font-code
    font-size: $font-size
    line-height: $line-height
    user-select: none

  .codeflask__flatten,
    padding: $space-vertical $space-horizontal $space-toolbar
    font-family: $font-code
    // font-size: $font-size // changing font size damage code
    line-height: $line-height


// Desktop HD
@media screen and ( min-width: 1500px )
  #code-editor
    $font-size: 16px
    $line-height: 24px

    .placeholder
      font-size: $font-size
      line-height: $line-height

    .codeflask__flatten
      font-size: $font-size
      line-height: $line-height