.console
  z-index: 3 // to be on top of codeflask text area
  overflow: scroll
  box-sizing: border-box
  position: absolute
  bottom: calc(38px + #{$margin-big} + #{$margin-big}) // 38px button heigh === toolbar height + margins
  left: $explorer-width
  width: $code-editor-min-width
  height: 200px
  background-color: $swatch-light-gray
  padding: $margin-medium

  .left,
    float: left
  .right
    float: right

  p
    max-width: 320px

  img
    display: none

/* Larger than Desktop hd */
@media (min-width: 1200px)
  .console 
    .left
      max-width: 480px

    p
      max-width: 100%
    
    img
      display: block
      width: 160px
      height: auto


// Console widget
.inline-code,
.has-inline-code code
  box-sizing: border-box
  padding: 2px 4px
  background-color: $color-background
  border-radius: 4px
  font-size: 14px
  font-family: $font-code