@import ../base/variables
@import ./explorer/files/_dragZone
@import ./explorer/files/_item
@import ./explorer/files/_operations
@import ./explorer/files/_files
@import ./explorer/sheets/_item

// # File Explorer
.explorer
  $color-background: $color-background

  overflow: hidden
  flex-shrink: 0
  position: relative
  width: $explorer-width
  padding: $margin-big 0
  background-color: $color-background

  header
    margin: 0 $margin-big $margin-medium

  footer
    position: absolute
    bottom: 0
    width: 100%
    padding: $margin-medium 0
    background-color: $color-background

    .panel-buttons
      text-align: center
      margin-bottom: $margin-medium

.explorer.active
  display: none