@import ../base/variables

.toolbar
  z-index: 3 // to be on top of codeflask text area
  position: absolute
  bottom: $margin-big
  left: $explorer-width
  width: 500px
  text-align: center

  @media screen and ( min-width: 1500px )
    width: $code-editor-min-width