@import ../base/variables
@import ./widgets/_displayWidget
@import ./widgets/_memoryWidget
@import ./widgets/_processorWidget

// # Widgets

.widget
  $new-margin-big-top: 30px
  $new-margin-medium: 16px

  box-sizing: border-box
  width: 250px // 286 until memory widget is fixed, then 250
  padding-top: $new-margin-big-top
  padding-bottom: $new-margin-medium
  margin: 0 0 $margin-big auto 
  background-color: white
  border-radius: 16px
  box-shadow: 10px 10px 20px 0 rgba(170,178,189,0.50)

  .container
    padding: 0 $margin-big
    margin-bottom: $new-margin-medium

  .container:last-child
    margin-bottom: 0

  .center
    text-align: center