<template>
  <section class="files">
    <header class="container">
      <h2 class="title">Game files</h2>
    </header>

    <!-- Vue tree -->
    <section class="tree-wrapper">
      <vue-tree-list
        @click="onClick"
        @add-node="onAddNode"
        @delete-node="onDelete"
        @drop-before="onMove"
        @drop="onMoveInto"
        @change-name="onRename"
        :model="tree"
        default-tree-node-name="Folder"
        default-leaf-node-name="File"
      >
      </vue-tree-list>
    </section>

    <!-- Controls -->
    <button class="btn-primary" @click="onNewNode(true)">New file</button>
    <button class="btn-primary" @click="onNewNode(false)">New folder</button>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

// Node modules
// @ts-ignore
import { VueTreeList, Tree, TreeNode } from "vue-tree-list";

// State
import ProjectState from "@/state/ProjectState";

export default Vue.extend({
  components: {
    VueTreeList
  },
  computed: {
    tree() {
      return new Tree(ProjectState.data().project.tree);
    }
  },
  data() {
    return {
      ProjectState: ProjectState.data()
    };
  },
  methods: {
    // Tree
    onAddNode(node: TreeNode) {
      if (node.isLeaf) ProjectState.createScript(node.id);
      this.changeEvent();
    },
    onClick(node: TreeNode) {
      if (node.isLeaf) {
        ProjectState.data().selectedId = node.id;

        // add active class
        const classes = document.getElementsByClassName("vtl-tree-node");
        const nodeId = document.getElementById(node.id);

        for (let i = 0; i < classes.length; i++) {
          const element = classes[i];

          element.classList.remove("active");
        }

        // @ts-ignore
        nodeId.classList.add("active");
      }
    },
    onRename() {
      this.changeEvent();
    },
    onDelete(node: TreeNode) {
      // Last file remaining in entire project
      if (this.tree.children.length === 1) {
        alert("You cannot delete the last file");
        return;
      }

      // Folder with files
      if (!node.isLeaf && node.children !== null) {
        alert("You cannot delete a folder with files inside");
        return;
      }

      // Other cases
      const answer = confirm(`Do you want to delete "${node.name}"?`);

      if (answer) {
        if (node.isLeaf) ProjectState.deleteScript(node.id);
        node.remove();
        this.changeEvent();
      }
    },
    onMove(object: Object) {
      this.moveEvent(object);
    },
    onMoveInto(object: Object) {
      this.moveEvent(object);
    },
    changeEvent() {
      function _dfs(oldNode: TreeNode) {
        const newNode: TreeNode = {};

        newNode.name = oldNode.name;
        newNode.pid = oldNode.pid;
        newNode.isLeaf = oldNode.isLeaf;
        newNode.id = oldNode.id;

        if (oldNode.children && oldNode.children.length > 0) {
          const length = oldNode.children.length;
          newNode.children = [];

          for (let i = 0; i < length; i++) {
            newNode.children.push(_dfs(oldNode.children[i]));
          }
        }
        return newNode;
      }
      const jsonTree = _dfs(this.tree);

      ProjectState.updateTree(jsonTree.children);
    },
    moveEvent(object: Object) {
      const indexes: number[] = [];

      // Refactor, we are building an entire json just get some indexes
      function _dfs(oldNode: TreeNode) {
        const newNode: TreeNode = {};
        newNode.name = oldNode.name;
        newNode.pid = oldNode.pid;
        newNode.isLeaf = oldNode.isLeaf;
        newNode.id = oldNode.id;
        if (newNode.isLeaf) indexes.push(newNode.id);

        if (oldNode.children && oldNode.children.length > 0) {
          const length = oldNode.children.length;
          newNode.children = [];

          for (let i = 0; i < length; i++) {
            newNode.children.push(_dfs(oldNode.children[i]));
          }
        }
        return newNode;
      }
      const jsonTree = _dfs(this.tree);

      ProjectState.data().scriptOrder = indexes;
      this.changeEvent();
    },

    // Controls
    onNewNode(isLeaf: boolean = false) {
      const nodeType = isLeaf ? "file" : "folder";
      const answer = prompt(
        `What is the name of the new ${nodeType}?`,
        `new ${nodeType}`
      );

      if (answer) {
        const node = new TreeNode({ isLeaf: isLeaf, name: answer });

        if (node.isLeaf) ProjectState.createScript(node.id);
        this.tree.addChildren(node);
        this.changeEvent();
      }
    }
  }
});
</script>