<template>
  <section class="sprites">
    <header class="container">
      <h2 class="title">Sprites</h2>
    </header>

    <!-- Sheets -->
    <ul class="sheet-list">
      <template v-for="(item, index) in sheets">
        <SheetItem
          :key="index"
          :index="index"
          :name="item.name"
          :thumbnail="item.data"
          :totalSheets="totalSheets"
          v-on:renameEvent="onRename"
          v-on:deleteEvent="onDelete"
        />
      </template>
    </ul>

    <!-- Controls -->
    <button class="btn-primary" @click="onNewSheet()">Add sheet</button>

    <!-- Sheet chooser input box -->
    <input hidden accept="image/png, image/jpeg" type="file" ref="input" @change="onInputFile" />
  </section>
</template>

<script lang="ts">
import Vue from "vue";
import SheetItem from "@/components/components/SheetItem.vue";

// State
import ProjectState from "@/state/ProjectState";

export default Vue.extend({
  components: {
    SheetItem
  },
  computed: {
    sheets(): Object[] {
      return this.$data.ProjectState.project.spriteSheets;
    },
    totalSheets(): number {
      return this.sheets.length;
    }
  },
  data() {
    return {
      projectFolder: "spriteSheets",
      ProjectState: ProjectState.data()
    };
  },
  methods: {
    // Item
    onRename(data: Array<any>) {
      ProjectState.renameSheet(this.projectFolder, data[0], data[1]);
    },
    onDelete(index: number) {
      ProjectState.deleteSheet(this.projectFolder, index);
    },

    // Controls
    onNewSheet() {
      if (this.totalSheets > 10) {
        alert("You cannot add more than 10 sheets");
        return;
      }

      // @ts-ignore
      this.$refs.input.click();
    },

    // Input file
    onInputFile() {
      // @ts-ignore
      ProjectState.createSheet(this.projectFolder, this.$refs.input.files[0]);
    }
  }
});
</script>
