@import ../../../base/variables

.explorer
  .tree-wrapper
    max-height: 320px
    overflow: scroll
    margin-bottom: $margin-big

    .vtl
      cursor: default
      user-select: none
      position: relative

/* Larger than Desktop HD */
@media (min-width: 1500px)
  .explorer
    .tree-wrapper
      max-height: 600px