.tree-wrapper
  %hover
    border-radius: 50px
    margin: 0 8px
    color: white
    
  // to avoid long names distorting the node item
  .vtl-node-content
    $height: 22px

    width: 140px
    line-height: $height
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    vertical-align: bottom

  .vtl-icon-file
    display: none

  // Active
  .vtl-tree-node.active,
  .vtl-tree-node.active:hover
    @extend %hover
    background-color: $swatch-medium-gray-shade

  // Hover
  .vtl-tree-node:hover
    @extend %hover
    background-color: $swatch-medium-gray

    &.vtl-active
      background-color: none // drag file or foder into folder