@import ../../../base/_variables

// Operation is the button group with icons that controls the bahaviours of the tree items

.tree-wrapper
  .vtl-operation
    margin-right: 8px
    padding: 0 $margin-small-horizontal
    position: absolute
    top: 12px
    right: 8px
  
    .vtl-icon
      color: white

      &:hover
        color: $color-text