#display-widget
  width: auto

  #canvas-container
    position: relative

    canvas
      display: block
      margin: 0 auto
      background-color: $color-text
      border-radius: 4px
      image-rendering: pixelated
      image-rendering: crisp-edges

    .screen-coordinates
        position: absolute
        bottom: 8px
        left: 8px
        padding: 6px 16px
        //background-color: rgba(0, 0, 0, .5)
        background-color: $swatch-dark-gray
        border-radius: 50px
        color: $color-background
        font-family: $font-code
        font-size: 12px
        cursor: default