@import ../../base/_variables
@import ./memory-widget/_sections

#memory-widget
  padding-bottom: 0 // to override the widget padding so the memory blocks reach the bottom

  // Memory section
  .memory-section
    $space: 6px

    padding-left: $space
    padding-right: $space
    margin-bottom: 12px

  // Memory blocks
  .memory-blocks
    height: 150px
    overflow: scroll

    // Prefixes
    -ms-overflow-style: none
    scrollbar-width: none // firefox
    &::-webkit-scrollbar
      display: none

    .row
      overflow: auto
      margin-bottom: $margin-small-vertical

    &.stack
      padding: 0 15px

      .pointer
        $border: solid 1px white
        box-sizing: border-box
        background-color: $swatch-sunflower
        color: white
        border-radius: 2px
        border-top: $border
        border-bottom: $border

    &.oam
      overflow: hidden

      .header
        padding-left: 96px // to align with the sprite label
        margin-bottom: 0

      .scroll-content
        overflow: auto
        height: calc(100% - #{$margin-big})// to compensate for the header taking space
