@import ../../base/_variables

.register-view
  margin-top: 0
  padding-left: 0
  list-style: none
  cursor: default
  user-select: none

  li
    display: inline-block
    line-height: 2
    // to create a circle hover effect and have space on the sides, we need both margin and padding
    margin: 0 8px
    padding: 0 16px

  li:hover
    background-color: $color-background
    border-radius: 50px

  .label
    display: inline-block
    width: 120px

  .token 
    display: inline-block
    width: 30px
    text-align: right