@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,800&display=swap');

/* Icomoon */
@font-face{
    font-family: 'Icomoon';
    src: url('../src/assets/fonts/icomoon/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* Fira Code */
@font-face{
    font-family: 'Fira Code';
    src: url('../src/assets/fonts/fira-code/FiraCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../src/assets/fonts/fira-code/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../src/assets/fonts/fira-code/FiraCode-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../src/assets/fonts/fira-code/FiraCode-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}