<template>
  <article id="display-widget" class="widget">
    <header class="container">
      <h2>Screen</h2>
    </header>

    <section class="container center">
      <div id="canvas-container">
        <!-- canvas added via emulator goes here -->
        <span
          class="screen-coordinates"
          v-if="showScreenCoordinates"
        >X:{{mouseX}}&nbsp;&nbsp;Y:{{mouseY}}</span>
      </div>
    </section>

    <section class="center">
      <button @click="scaleCanvas(1)" :class="{active: scale === 1}" class="button-small">Normal</button>
      <button @click="scaleCanvas(2)" :class="{active: scale === 2}" class="button-small">Large</button>
      <button
        @click="scaleCanvas(3)"
        :class="{active: scale === 3}"
        class="button-small"
        v-if="mediaQueryDesktop"
      >Ultra</button>
    </section>
  </article>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";

// State
import EmulatorState from "@/state/EmulatorState";

export default Vue.extend({
  computed: {
    mediaQueryDesktop(): boolean {
      return window.screen.width > 1280;
    }
  },
  data() {
    return {
      display: EmulatorState.getDisplay(),
      displayWidth: 0,
      displayHeight: 0,
      mouseX: 0,
      mouseY: 0,
      scale: 1,
      showScreenCoordinates: false,
      State: EmulatorState.data()
    };
  },
  methods: {
    scaleCanvas(factor: number) {
      const canvas = this.display.canvas;
      const context = canvas.getContext("2d", { alpha: false });
      const error = "Display canvas not found";

      if (context === null) throw new Error(error);
      this.scale = factor;
      canvas.width = this.displayWidth * factor;
      canvas.height = this.displayHeight * factor;
      context.imageSmoothingEnabled = false;
      context.scale(factor, factor);
    },
    // Impure mutate state
    onMouseMove(event: Event) {
      // Refactor
      // This run even when the mouse is not near the canvas
      const scale = this.scale;
      const canvas = this.display.canvas;
      const mousePosition = this.getMousePosition(canvas, event);

      // get the real coordinate data
      this.mouseX = Math.round(mousePosition.x / scale);
      this.mouseY = Math.round(mousePosition.y / scale);

      this.showScreenCoordinates = true;
    },
    onMouseOut(event: Event) {
      this.showScreenCoordinates = false;
    },
    // Pure
    getMousePosition(canvas: HTMLCanvasElement, event: Event) {
      // Refactor
      const rect = canvas.getBoundingClientRect();

      return {
        x:
          // @ts-ignore
          ((event.clientX - rect.left) / (rect.right - rect.left)) *
          canvas.width,
        y:
          // @ts-ignore
          ((event.clientY - rect.top) / (rect.bottom - rect.top)) *
          canvas.height
      };
    }
  },
  mounted() {
    const error = `Kieszeń Create can't find the screen to show the game`;
    const element = document.getElementById("canvas-container");
    const canvas = this.display.canvas;

    if (element === null) throw Error(error);

    this.displayWidth = canvas.width;
    this.displayHeight = canvas.height;

    element.appendChild(canvas);
    canvas.addEventListener("mousemove", this.onMouseMove, false);
    canvas.addEventListener("mouseout", this.onMouseOut, false);

    // Larger than phablets
    if (window.screen.width > 550) this.scaleCanvas(2);
  }
});
</script>
