<template>
  <article id="input-widget" class="widget">
    <header class="container">
      <h2>Buttons</h2>
    </header>

    <section class="container">
      <!-- Directional arrows -->
      <InputSignal label="Up" icon="direction-up" :class="{ active: activeKeys[0] }" />
      <InputSignal label="Down" icon="direction-down" :class="{ active: activeKeys[1] }" />
      <InputSignal label="Left" icon="direction-left" :class="{ active: activeKeys[2] }" />
      <InputSignal label="Right" icon="direction-right" :class="{ active: activeKeys[3] }" />

      <!-- Buttons -->
      <InputSignal label="Enter" icon="button-start" :class="{ active: activeKeys[4] }" />
      <InputSignal label="Z" icon="button-a" :class="{ active: activeKeys[5] }" />
      <InputSignal label="X" icon="button-b" :class="{ active: activeKeys[6] }" />
      <InputSignal label="C" icon="button-r" :class="{ active: activeKeys[7] }" />
    </section>
  </article>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import InputSignal from "../components/InputSignal.vue";

// State
import EmulatorState from "@/state/EmulatorState";

export default Vue.extend({
  components: {
    InputSignal
  },
  computed: {
    computedCheckActiveKeys(): string {
      const activeKeys = this.$data.activeKeys;

      function checkBoolean(item: number) {
        return item === 0;
      }

      return activeKeys.every(checkBoolean);
    },
    computedDisplayKeyValues(): string {
      const activeKeys = this.$data.activeKeys;

      return String(activeKeys.join(""));
    }
  },
  data() {
    return {
      keys: [
        "ArrowUp",
        "ArrowDown",
        "ArrowLeft",
        "ArrowRight",
        "Enter",
        "KeyZ",
        "KeyX",
        "KeyC"
      ],
      activeKeys: [0, 0, 0, 0, 0, 0, 0, 0],
      State: EmulatorState.data()
    };
  },
  methods: {
    onKeyDown(event: any) {
      const keyIndex = this.keys.indexOf(event.code);

      if (keyIndex !== -1) {
        this.activeKeys.splice(keyIndex, 1, 1); // force reactivity in Vue array
      }
    },
    onKeyUp(event: any) {
      const keyIndex = this.keys.indexOf(event.code);

      if (this.keys.indexOf(event.code) !== -1) {
        this.activeKeys.splice(keyIndex, 1, 0); // force reactivity in Vue array
      }
    }
  },
  mounted() {
    window.addEventListener("keydown", this.onKeyDown);
    window.addEventListener("keyup", this.onKeyUp);
  }
});
</script>