<template>
  <article id="memory-widget" class="widget">
    <header class="container">
      <h2>Memory</h2>
    </header>

    <section class="center">
      <SectionsMenu @update="onUpdate" :prop="EmulatorState.sectionIndex" />
    </section>

    <section>
      <!-- Zero Page -->
      <template v-if="EmulatorState.sectionIndex === 0">
        <ZeroPage :prop="EmulatorState.memory" />
      </template>

      <!-- Hardware -->
      <template v-if="EmulatorState.sectionIndex === 1">
        <Hardware :prop="EmulatorState.memory" />
      </template>

      <!-- Stack -->
      <template v-if="EmulatorState.sectionIndex === 2">
        <Stack :section="EmulatorState.memory" :pointer="stackPointer" />
      </template>

      <!-- Sprites -->
      <template v-if="EmulatorState.sectionIndex === 3">
        <OAM :section="EmulatorState.memory" :currentSheet="EmulatorState.currentSpriteSheet" />
      </template>

      <!-- Video -->
      <template v-if="EmulatorState.sectionIndex === 4">
        <MultiPage :section="EmulatorState.memory" :index="4" />
      </template>

      <!-- Game code -->
      <template v-if="EmulatorState.sectionIndex === 8">
        <MultiPage :section="EmulatorState.memory" :index="8" />
      </template>
    </section>
  </article>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import SectionsMenu from "./memory/SectionsMenu.vue";

// State
import EmulatorState from "@/state/EmulatorState";
import IDEState from "../../state/IDEState";

// Sub widgets
import Hardware from "./memory/Hardware.vue";
import MultiPage from "./memory/MultiPage.vue";
import OAM from "./memory/OAM.vue";
import Stack from "./memory/Stack.vue";
import ZeroPage from "./memory/ZeroPage.vue";

export default Vue.extend({
  components: {
    Hardware,
    MultiPage,
    OAM,
    SectionsMenu,
    Stack,
    ZeroPage
  },
  computed: {
    stackPointer(): number {
      return this.EmulatorState.registers.SP;
    }
  },
  data() {
    return {
      EmulatorState: EmulatorState.data(),
      IDEState: IDEState.data()
    };
  },
  methods: {
    onUpdate(index: number) {
      EmulatorState.data().sectionIndex = index;
      EmulatorState.getMemorySection();
    }
  },
  mounted() {
    EmulatorState.getMemorySection();
  }
});
</script>