<template>
  <article class="widget">
    <header class="container">
      <h2>Processor</h2>
      <CurrentInstruction :opcode="EmulatorState.opcode" :registers="EmulatorState.registers" />
    </header>

    <section>
      <h3 style="padding: 0 24px">Registers</h3>
      <RegistersView :prop="EmulatorState.registers" />
    </section>

    <section class="container">
      <h3>Processor status</h3>
      <ProcessorStatus :prop="EmulatorState.registers.Flags" />
    </section>
  </article>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import CurrentInstruction from "./processor/CurrentInstruction.vue";
import ProcessorStatus from "./processor/ProcessorStatus.vue";
import RegistersView from "./processor/RegistersView.vue";

// State
import EmulatorState from "@/state/EmulatorState";

export default Vue.extend({
  components: {
    CurrentInstruction,
    ProcessorStatus,
    RegistersView
  },
  data() {
    return {
      EmulatorState: EmulatorState.data()
    };
  }
});
</script>