
<template>
  <section class="current-instruction">
    <!-- no instruction -->
    <p v-if="opcode === null">
      Press
      <em>Next line</em> to begin
    </p>

    <!-- instruction -->
    <p v-else>
      Instruction
      <span class="token opcode">{{ opcode.mnemonic }}&nbsp;</span>
      <span v-html="operand()"></span>
    </p>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  methods: {
    operand(): string {
      const addressCode = this.$props.opcode.addressCode;
      let result = "";

      // Implicit
      if (addressCode === 0) {
        result = "";
      }
      // Immediate
      if (addressCode === 1) {
        result = this.parseValue("immediate");
      }
      // Relative
      if (addressCode === 2) {
        result = `to label`; // empty on purpose
      }
      // Zero page
      if (addressCode === 3) {
        result = this.parseValue();
      }
      // Zero page X
      if (addressCode === 4) {
        result = `${this.parseValue()}, X`;
      }
      // Zero page Y
      if (addressCode === 5) {
        result = `${this.parseValue()}, Y`;
      }
      // Indirect X
      if (addressCode === 6) {
        result = `(${this.parseValue()}, X)`;
      }
      // Indirect Y
      if (addressCode === 7) {
        result = `(${this.parseValue()}), Y`;
      }
      // Absolute
      if (addressCode === 8) {
        result = `${this.parseValue("address", 4)}`;
      }
      // Absolute Indirect
      if (addressCode === 9) {
        result = `(${this.parseValue("address", 4)})`;
      }
      // Absolute X
      if (addressCode === 10) {
        result = `${this.parseValue("address", 4)}, X`;
      }
      // Absolute Y
      if (addressCode === 11) {
        result = `${this.parseValue("address", 4)}, Y`;
      }

      return result;
    },
    parseValue(mode: string = "address", size: number = 2): string {
      const registers = this.$props.registers;
      const symbol = mode === "address" ? "@" : "";
      let value = registers.MV;

      return `<span class=" token ${mode}">${symbol}${value}</span>`;
    }
  },
  props: {
    opcode: Object,
    registers: Object
  }
});
</script>