<template>
  <section class="flags">
    <!-- math flags -->
    <FlagSignal label="Carry" icon="carry" :class="{ active: prop.carry }" />
    <FlagSignal label="Negative" icon="negative" :class="{ active: prop.negative }" />
    <!-- <FlagSignal label="Over" icon="overflow" :class="{ active: prop.overflow }" /> -->
    <FlagSignal label="Zero" icon="zero" :class="{ active: prop.zero }" />

    <!-- system flags -->
    <FlagSignal label="Break" icon="break" class="danger" :class="{ active: prop.break }" />
    <!-- <FlagSignal label="Interrupt" icon="interrupt" class="danger" :class="{ active: prop.interrupt }"/> -->
  </section>
</template>

<script lang="ts">
import Vue from "vue";
import FlagSignal from "./../../components/FlagSignal.vue";

export default Vue.extend({
  components: {
    FlagSignal
  },
  props: {
    prop: Object
  }
});
</script>