<template>
  <ul class="register-view">
    <li>
      <span class="label">Accumulator</span>
      <span class="token" :class="{immediate: prop.A > 0}">{{ prop.A }}</span>
    </li>
    <li>
      <span class="label">X index</span>
      <span class="token" :class="{immediate: prop.X > 0}">{{ prop.X }}</span>
    </li>
    <li>
      <span class="label">Y index</span>
      <span class="token" :class="{immediate: prop.Y > 0}">{{ prop.Y }}</span>
    </li>
    <li>
      <span class="label">Spack pointer</span>
      <span class="token" :class="{immediate: prop.SP > 0}">{{ prop.SP }}</span>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    prop: Object
  }
});
</script>