<template>
  <section id="code-editor">
    <p v-if="!enabled" class="placeholder">{{ placeholder }}</p>
    <div id="code-container">
      <!-- code flask goes here -->
    </div>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

// Node modules
// @ts-ignore
import CodeFlask from "codeflask";
// @ts-ignore
import * as Prism from "prismjs";
import "@/js/prism-ace-card";

// State
import ProjectState from "../state/ProjectState";

export default Vue.extend({
  data() {
    return {
      ProjectState: ProjectState.data(),
      codeFlask: CodeFlask
    };
  },
  computed: {
    selectedContent(): string {
      const state = this.ProjectState;
      const id = state.selectedId;
      const scripts = state.project.scripts;
      const script = scripts.find(script => script.id === id);
      let result = "no data from App.vue";

      if (script !== undefined) {
        result = script.content;
      }

      return result;
    },
    enabled(): Boolean {
      // Refactor
      const id = this.ProjectState.selectedId;
      const scripts = this.ProjectState.project.scripts;
      const script = scripts.find(script => script.id === id);
      let result = false;

      if (script !== undefined) {
        result = script["content"].length > 0;
      }

      return result;
    },
    placeholder(): String {
      const firstFileText = "Lean to make games at kieszen.se/learn";
      const otherFileText = "Write some code here";
      const projectLength = this.ProjectState.project.scripts.length;
      const result = projectLength === 1 ? firstFileText : otherFileText;

      return result;
    }
  },
  methods: {
    // Pure
    update(editor: CodeFlask) {
      const code = editor.getCode();

      ProjectState.updateScript(code);
    },
  },
  // Pure
  mounted() {
    this.codeFlask = new CodeFlask("#code-container", {
      language: "asm6502",
      defaultTheme: false
    });
    this.codeFlask.addLanguage("asm6502", Prism.languages.asm6502);
    this.codeFlask.updateCode(this.selectedContent);

    // Add listeners
    this.codeFlask.onUpdate(() => {
      this.update(this.codeFlask);
    });
  },
  watch: {
    selectedContent(newValue, oldValue) {
      this.codeFlask.updateCode(newValue);
    }
  }
});
</script>