<template>
  <section id="console" class="console">
    <div class="left">
      <h2>{{ details.title }}</h2>
      <p class="has-inline-code" v-html="parsedMessage()"></p>
      <!-- Address modes -->
      <ol v-if="addressModes.length > 0">
        <li v-for="(mode, index) in addressModes" :key="index">{{ mode }}</li>
      </ol>
      <!-- Documentation -->
      <AnchorMain v-if="details.urlDocument" :href="linkDocument" secondary>Read article</AnchorMain>

      <!-- video tutorial -->
      <AnchorMain v-if="details.urlVideo" :href="linkDocument" secondary>Watch video</AnchorMain>
    </div>
  </section>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import AnchorMain from "@/components/components/AnchorMain.vue";

// State
import IDEState from "@/state/IDEState";

// Kieszeń
import IErrorDetail from "kieszen-core/src/interfaces/IErrorDetail";
import ErrorList from "kieszen-core/src/ErrorList";
import OpcodeTable from "kieszen-core/src/OpcodeTable";
import InstructionRegex from "kieszen-core/src/InstructionRegex";

export default Vue.extend({
  data() {
    return {
      addressModes: new Array(),
      errorId: 0,
      instruction: "",
      IDEState: IDEState.data()
    };
  },
  components: {
    AnchorMain
  },
  computed: {
    details(): IErrorDetail {
      return ErrorList.getErrorDetail(this.errorId);
    },
    linkDocument(): string {
      return "https://learn.kieszen.se/" + this.details.urlDocument;
    },
    linkVideo(): string {
      return "http://www.youtube.com/kieszen/" + this.details.urlVideo;
    }
  },
  methods: {
    onError(event: Event): void {
      const customEvent = event as CustomEvent;

      this.errorId = customEvent.detail.id;
      this.instruction = customEvent.detail.instruction;
      this.IDEState.showConsole = !this.IDEState.showConsole;
    },
    getAddressModes(text: string): string {
      const result = text.match(InstructionRegex.opcode);

      if (result !== null) {
        this.addressModes = OpcodeTable.getAddressModes(result[0]);
      }

      return "";
    },
    getInstruction(text: string): string {
      return `<code>${text}</code>`;
    },
    getMnemonic(text: string): string {
      const result = text.match(InstructionRegex.opcode);
      const url = `http://www.obelisk.me.uk/6502/reference.html#${result}`;

      return `<a href='${url}' target='_blank'><code>${result}</code></a>`;
    },
    getValue(text: string): string {
      const result = text.match(/\$\d*/);

      return `<code>${result}</code>`;
    },
    parsedMessage(): string {
      let result = ErrorList.getErrorDetail(this.errorId).message;
      const text = this.instruction;
      const hasAddressList = result.match("@address_list");

      if (hasAddressList !== null) {
        result = result.replace("@address_list", this.getAddressModes(text));
      }

      result = result.replace("@detail", this.getInstruction(text));
      result = result.replace("@mnemonic", this.getMnemonic(text));
      result = result.replace("@value", this.getValue(text));

      return result;
    }
  },
  mounted() {
    window.addEventListener("ErrorEvent", event => this.onError(event));
  }
});
</script>
