<template>
  <aside class="explorer">
    <!-- Sub components load here -->
    <Files v-if="panel === 1" />
    <Sprites v-if="panel === 2" />
    <Backgrounds v-if="panel === 3" />

    <footer>
      <!-- Section changer -->
      <div class="panel-buttons">
        <button @click="panel = 1" :class="{active: panel === 1}" class="button-small">Files</button>
        <button @click="panel = 2" :class="{active: panel === 2}" class="button-small">Sprites</button>
        <button @click="panel = 3" :class="{active: panel === 3}" class="button-small">Background</button>
      </div>
      <!-- Project management -->
      <div>
        <button class="btn-secondary" @click="onNewProject">New project</button>
        <button class="btn-secondary" @click="onOpen">Open project</button>
        <button class="btn-secondary" @click="onDownload">Download project</button>
      </div>
    </footer>

    <!-- Project chooser input box -->
    <input hidden accept=".zen" type="file" id="projectFileInput" @change="onInputFile" />
  </aside>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import Backgrounds from "./explorer/Backgrounds.vue";
import Files from "./explorer/Files.vue";
import Sprites from "./explorer/Sprites.vue";

// State
import ProjectState from "@/state/ProjectState";
import IDEState from "../state/IDEState";

export default Vue.extend({
  components: {
    Backgrounds,
    Files,
    Sprites
  },
  data() {
    return {
      panel: 1,
      IDEState: IDEState.data(),
      ProjectState: ProjectState.data()
    };
  },
  methods: {
    // Controls
    onNewProject() {
      const question = confirm(
        "Do you want to start a new project? Unsaved files will be lost"
      );

      if (question) {
        this.$data.ProjectState.project = ProjectState.newProject();
        this.IDEState.showExplorer = !this.IDEState.showExplorer
      }
    },
    onDownload() {
      const project = this.$data.ProjectState.project;

      if (project.name === undefined) {
        const newName = prompt("How should be call this project?");
        if (newName !== null) project.name = newName;
      }

      project.version++;
      ProjectState.downloadProject();
    },
    onOpen() {
      // @ts-ignore
      document.getElementById("projectFileInput").click();
    },

    // Input file
    onInputFile() {
      const input = document.getElementById("projectFileInput");

      // @ts-ignore
      ProjectState.replaceProject(input.files[0]);
    }
  }
});
</script>
