<template>
  <nav class="toolbar">
    <ButtonMain :onClick="onExplorer" secondary>{{ labelExplorer }}</ButtonMain>
    <ButtonMain :onClick="onMain" :class="stylePlay">{{ labelPlay }}</ButtonMain>
    <ButtonMain :onClick="onDebug" secondary>{{ labelDebug }}</ButtonMain>
    <ButtonMain v-if="IDEState.consoleHasError" :onClick="onConsole" secondary>{{ labelConsole }}</ButtonMain>
  </nav>
</template>

<script lang="ts">
// Vue components
import Vue from "vue";
import ButtonMain from "@/components/components/ButtonMain.vue";

// Stores
import AssemblerState from "@/state/AssemblerState";
import EmulatorState from "@/state/EmulatorState";
import IDEState from "../state/IDEState";
import ProjectState from "../state/ProjectState";

export default Vue.extend({
  components: {
    ButtonMain
  },
  data() {
    return {
      debugStarted: false,
      AssemblerState: AssemblerState.data(),
      EmulatorState: EmulatorState.data(),
      IDEState: IDEState.data(),
      ProjectState: ProjectState.data()
    };
  },
  computed: {
    // Labels
    labelConsole(): String {
      const showConsole = this.IDEState.showConsole;
      return showConsole ? "Hide information" : "Show information";
    },
    labelExplorer(): String {
      return this.IDEState.showExplorer ? "Hide files" : "Show files";
    },
    labelDebug(): String {
      return this.debugStarted ? "Next line" : "Analyse game";
    },
    labelPlay(): String {
      const labels = ["Play", "Stop", "Resume"];
      return labels[this.EmulatorState.status];
    },
    stylePlay(): String {
      return this.labelPlay.toLowerCase();
    }
  },
  methods: {
    // Toolbar actions
    onConsole() {
      this.IDEState.showConsole = !this.IDEState.showConsole;
    },
    onExplorer() {
      this.IDEState.showExplorer = !this.IDEState.showExplorer;
    },
    onMain(event: Event) {
      const status = this.EmulatorState.status;
      const button = event.target as HTMLButtonElement;

      button.blur();
      if (status === 0) this.play();
      if (status === 1) this.stop();
      if (status === 2) this.resume();
    },
    onDebug() {
      if (this.debugStarted) this.step();
      else this.showMainWidgets();
    },

    // IDE actions
    showMainWidgets() {
      this.debugStarted = true;
      this.IDEState.showMainWidgets = true;
    },

    // Emulator actions
    compile() {
      const scripts = this.ProjectState.project.scripts;
      const order = this.ProjectState.scriptOrder;
      const sSheets = this.ProjectState.project.spriteSheets;
      const bSheets = this.ProjectState.project.backgroundSheets;
      const codeCompiled = AssemblerState.compile(scripts, order);

      EmulatorState.setROM(codeCompiled, sSheets, bSheets);
    },
    play() {
      this.compile();
      EmulatorState.start();
    },
    step() {
      if (this.AssemblerState.codeCompiled.length === 0) {
        this.compile();
      }

      EmulatorState.step();
    },
    stop() {
      EmulatorState.stop();
    },
    resume() {
      EmulatorState.resume();
    }
  }
});
</script>