<template>
  <a :class="style" :href="href" target="_blank">
    <span class="label">
      <slot></slot>
    </span>
  </a>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  computed: {
    style(): string {
      const result = this.$props.secondary ? "secondary" : "primary";

      return "button-" + result;
    }
  },
  props: {
    secondary: Boolean,
    href: {
      type: String,
      required: true
    }
  }
});
</script>
