<template>
  <button :class="style" @click="onClick">
    <span v-if="icon" class="icon">
    </span>
    <span class="label">
      <slot></slot>
    </span>
  </button>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  computed: {
    style(): string {
      // @ts-ignore
      const result = this.$props.secondary ? "secondary" : "primary";

      return "button-" + result;
    }
  },
  props: {
    icon: String,
    secondary: Boolean,
    onClick: {
      type: Function,
      required: true
    }
  }
});
</script>
