<template>
  <div class="flag-signal">
    <div class="circle">
      <span :class="`icon icon-${icon}`"><!-- icon goes here --></span>
    </div>
    <small>{{ label }}</small>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    label: String,
    icon: String
  }
});
</script>