<template>
  <div class="input-signal">
    <div :class="`icon icon-${icon}`"><!-- icon goes here --></div>
    <small>{{ label }}</small>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    label: String,
    icon: String
  }
});
</script>