<template>
  <li class="item">
    <span v-if="totalSheets > 1" class="number">{{index}}</span>
    <img :src="thumbnail" alt="thumbnail" class="thumbnail" />
    <span class="name">{{name}}</span>
    <span class="options">
      <button class="icon" @click="onRename(index)">
        <span class="icon icon-edit"></span>
      </button>
      <button class="icon" @click="onDelete(index)">
        <span class="icon icon-delete"></span>
      </button>
    </span>
  </li>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  methods: {
    onRename(index: number) {
      const newName = prompt(`Rename ${this.$props.name} to?`);

      if (newName != null) this.$emit("renameEvent", [index, newName]);
    },
    onDelete(index: number) {
      const question = confirm("Do you want to delete this spritesheet?");

      if (this.$props.totalSheets == 1) {
        alert("You cannot delete your last sheet");
        return;
      }

      if (question) this.$emit("deleteEvent", index);
    }
  },
  props: {
    index: Number,
    name: String,
    thumbnail: String,
    totalSheets: Number
  }
});
</script>