@import ../../../base/_variables

.sheet-list
  $background-color: $swatch-medium-gray
  padding-left: 0

  .item
    position: relative
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin: 0 8px $margin-small-vertical
    padding: 0 16px
    border-radius: 50px
    list-style-type: none
    font-size: 16px
    cursor: default
    user-select: none

    .number
      $size: 20px

      display: inline-block
      width: $size
      height: $size
      margin-right: $margin-small-horizontal
      background-color: $swatch-medium-gray-shade
      border-radius: 50px
      color: white
      font-family: $font-code
      font-size: 12px
      text-align: center
      line-height: $size

    .thumbnail
      $size: 32px

      width: $size
      height: $size
      margin-right: $margin-small-horizontal
      background-color: black
      border-radius: 4px
      vertical-align: middle
      
    .name
      width: 20px
      overflow: hidden
      text-overflow: ellipsis
  		white-space: nowrap


    .options
      display: none
      position: absolute
      top: 4px
      right: 12px

      button
        margin: 0
        background: $background-color
        color: white
        border: none
        font-size: 14px

        &:hover
          color: $swatch-dark-gray

    &:hover
      background-color: $background-color
      color: white

      .options
        display: inline