<template>
  <div class="memory-blocks hardware">
    <template v-for="(item, index) in prop">
      <div class="row" :key="index">
        <div class="address">{{start + index}}</div>
        <div class="label">{{labels[index]}}</div>
        <div class="value" :class="{active: item > 0}" :title="`@${254 + index}`">{{item}}</div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import MemoryMap from "kieszen-core/src/MemoryMap";

export default Vue.extend({
  computed: {
    start(): number {
      return MemoryMap.sections[1].start;
    }
  },
  data() {
    return {
      labels: [
        "Buttons",
        "Interrupt",
        "Sprite sheet",
        "BG sheet",
        "BG map",
        "BG scroll X",
        "BG scroll Y"
      ]
    };
  },
  props: {
    prop: Uint8Array
  }
});
</script>