<template>
  <div class="memory-blocks multi-page" @scroll="onScroll">
    <template v-for="(item, index) in content">
      <div class="address" v-if="index % columns === 0" :key="'a_' + index">{{address(index)}}</div>
      <div class="value" :class="{active: item > 0}" :key="index">{{item}}</div>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import MemoryMap from "kieszen-core/src/MemoryMap";

export default Vue.extend({
  computed: {
    content(): number[] {
      const memorySection = MemoryMap.sections[this.index];
      const end = this.offset + this.pages * this.rows * this.columns;
      const result: number[] = [];
      const paddingStart = (memorySection.start + this.offset) % 10;

      for (let i = 0; i < paddingStart; i++) {
        //@ts-ignore
        result.push(undefined);
      }

      for (let i = this.offset; i < end; i++) {
        result.push(this.section[i]);
      }

      return result;
    }
  },
  data() {
    return {
      offset: 0,
      rows: 6,
      columns: 10,
      pages: 2
    };
  },
  methods: {
    address(index: number): number {
      const memorySection = MemoryMap.sections[this.index];
      const address = memorySection.start + this.offset + index;

      return Math.ceil(address / 10) * 10 - 10;
    },
    onScroll(event: Event) {
      const memorySection = MemoryMap.sections[this.index];
      const element = event.currentTarget as HTMLElement;
      const increment = 120;
      const bufferUp = 8;
      const bufferDown = 130;
      const offsetEnd = memorySection.bytes - increment;

      if (this.offset > 0 && element.scrollTop < bufferUp) {
        element.scrollTop = bufferDown;
        this.offset -= increment;
      }

      if (this.offset < offsetEnd && element.scrollTop > bufferDown) {
        element.scrollTop = bufferUp;
        this.offset += increment;
      }
    }
  },
  props: {
    section: Uint8Array,
    index: Number
  }
});
</script>