<template>
  <div class="memory-blocks oam">
    <!-- header -->
    <div class="row header">
      <div class="heading"></div>
      <div class="heading">Tile</div>
      <div class="heading">X pos</div>
      <div class="heading">Y pos</div>
      <div class="heading">Unused</div>
    </div>

    <!-- content -->
    <div class="scroll-content">
      <div class="row" v-for="(item, index) in spriteData" :key="index">
        <div class="sprite-container">
          <img
            :src="currentSpriteSheet"
            :style="`object-position: ${coordinates(item[0])}`"
            alt="preview"
            class="sprite-tile"
          />
        </div>

        <div class="label">Sprite {{index + 1}}</div>
        <template v-for="stepIndex in 4">
          <div class="value-with-address" :key="stepIndex">
            <div class="address">{{addressLabel(index, stepIndex)}}</div>
            <div :class="{active: item[stepIndex - 1] > 0}" class="value">{{item[stepIndex - 1]}}</div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

// State
import ProjectState from "@/state/ProjectState";
import MemoryMap from "kieszen-core/src/MemoryMap";

export default Vue.extend({
  computed: {
    currentSpriteSheet(): number {
      const sheet = this.$props.currentSheet;
      return this.$data.state.project.spriteSheets[sheet].data;
    },
    spriteData() {
      const oldContent = [...this.$props.section];
      const newContent: number[][] = [];

      for (var i = 0; i < 64; i++) {
        newContent[i] = oldContent.splice(0, 4);
      }

      return newContent;
    }
  },
  data() {
    return {
      textureCoordinates: [
    // Row 1
    [0, 0],
    [8, 0],
    [16, 0],
    [24, 0],
    [32, 0],
    [40, 0],
    [48, 0],
    [56, 0],
    [64, 0],
    [72, 0],
    [80, 0],
    [88, 0],
    [96, 0],
    [104, 0],
    [112, 0],
    [120, 0],

    // Row 2
    [0, 8],
    [8, 8],
    [16, 8],
    [24, 8],
    [32, 8],
    [40, 8],
    [48, 8],
    [56, 8],
    [64, 8],
    [72, 8],
    [80, 8],
    [88, 8],
    [96, 8],
    [104, 8],
    [112, 8],
    [120, 8],

    // Row 3
    [0, 16],
    [8, 16],
    [16, 16],
    [24, 16],
    [32, 16],
    [40, 16],
    [48, 16],
    [56, 16],
    [64, 16],
    [72, 16],
    [80, 16],
    [88, 16],
    [96, 16],
    [104, 16],
    [112, 16],
    [120, 16],

    // Row 4
    [0, 24],
    [8, 24],
    [16, 24],
    [24, 24],
    [32, 24],
    [40, 24],
    [48, 24],
    [56, 24],
    [64, 24],
    [72, 24],
    [80, 24],
    [88, 24],
    [96, 24],
    [104, 24],
    [112, 24],
    [120, 24],

    // Row 5
    [0, 32],
    [8, 32],
    [16, 32],
    [24, 32],
    [32, 32],
    [40, 32],
    [48, 32],
    [56, 32],
    [64, 32],
    [72, 32],
    [80, 32],
    [88, 32],
    [96, 32],
    [104, 32],
    [112, 32],
    [120, 32],

    // Row 6
    [0, 40],
    [8, 40],
    [16, 40],
    [24, 40],
    [32, 40],
    [40, 40],
    [48, 40],
    [56, 40],
    [64, 40],
    [72, 40],
    [80, 40],
    [88, 40],
    [96, 40],
    [104, 40],
    [112, 40],
    [120, 40],

    // Row 7
    [0, 48],
    [8, 48],
    [16, 48],
    [24, 48],
    [32, 48],
    [40, 48],
    [48, 48],
    [56, 48],
    [64, 48],
    [72, 48],
    [80, 48],
    [88, 48],
    [96, 48],
    [104, 48],
    [112, 48],
    [120, 48],

    // Row 8
    [0, 56],
    [8, 56],
    [16, 56],
    [24, 56],
    [32, 56],
    [40, 56],
    [48, 56],
    [56, 56],
    [64, 56],
    [72, 56],
    [80, 56],
    [88, 56],
    [96, 56],
    [104, 56],
    [112, 56],
    [120, 56],

    // Row 9
    [0, 64],
    [8, 64],
    [16, 64],
    [24, 64],
    [32, 64],
    [40, 64],
    [48, 64],
    [56, 64],
    [64, 64],
    [72, 64],
    [80, 64],
    [88, 64],
    [96, 64],
    [104, 64],
    [112, 64],
    [120, 64],

    // Row 10
    [0, 72],
    [8, 72],
    [16, 72],
    [24, 72],
    [32, 72],
    [40, 72],
    [48, 72],
    [56, 72],
    [64, 72],
    [72, 72],
    [80, 72],
    [88, 72],
    [96, 72],
    [104, 72],
    [112, 72],
    [120, 72],

    // Row 11
    [0, 80],
    [8, 80],
    [16, 80],
    [24, 80],
    [32, 80],
    [40, 80],
    [48, 80],
    [56, 80],
    [64, 80],
    [72, 80],
    [80, 80],
    [88, 80],
    [96, 80],
    [104, 80],
    [112, 80],
    [120, 80],

    // Row 12
    [0, 88],
    [8, 88],
    [16, 88],
    [24, 88],
    [32, 88],
    [40, 88],
    [48, 88],
    [56, 88],
    [64, 88],
    [72, 88],
    [80, 88],
    [88, 88],
    [96, 88],
    [104, 88],
    [112, 88],
    [120, 88],

    // Row 13
    [0, 96],
    [8, 96],
    [16, 96],
    [24, 96],
    [32, 96],
    [40, 96],
    [48, 96],
    [56, 96],
    [64, 96],
    [72, 96],
    [80, 96],
    [88, 96],
    [96, 96],
    [104, 96],
    [112, 96],
    [120, 96],

    // Row 14
    [0, 104],
    [8, 104],
    [16, 104],
    [24, 104],
    [32, 104],
    [40, 104],
    [48, 104],
    [56, 104],
    [64, 104],
    [72, 104],
    [80, 104],
    [88, 104],
    [96, 104],
    [104, 104],
    [112, 104],
    [120, 104],

    // Row 15
    [0, 112],
    [8, 112],
    [16, 112],
    [24, 112],
    [32, 112],
    [40, 112],
    [48, 112],
    [56, 112],
    [64, 112],
    [72, 112],
    [80, 112],
    [88, 112],
    [96, 112],
    [104, 112],
    [112, 112],
    [120, 112],

    // Row 16
    [0, 120],
    [8, 120],
    [16, 120],
    [24, 120],
    [32, 120],
    [40, 120],
    [48, 120],
    [56, 120],
    [64, 120],
    [72, 120],
    [80, 120],
    [88, 120],
    [96, 120],
    [104, 120],
    [112, 120],
    [120, 120],
  ],
      state: ProjectState.data()
    };
  },
  methods: {
    coordinates(index: number): string {
      const scaleFactor = 3;
      const xPos = this.textureCoordinates[index][0];
      const yPos = this.textureCoordinates[index][1];

      return `-${xPos * scaleFactor}px -${yPos * scaleFactor}px`;
    },
    addressLabel(index: number, stepIndex: number) {
      return 512 + index * 4 + stepIndex - 1;
    }
  },
  props: {
    section: Uint8Array,
    currentSheet: Number
  }
});
</script>