<template>
  <div class="sections memory-section">
    <template v-for="(item, index) in sections">
      <button
        :class="[{ active : index === prop}, item.color, 'button-tab']"
        @click="onClick(index)"
        :key="index"
      >
        <div class="round-square">
          <span :class="`icon icon-${item.icon}`">
            <!-- icon goes here -->
          </span>
        </div>
        <small>{{ item.label }}</small>
      </button>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      sections: [
        { label: "Fast page", color: "red", icon: "rocket" },
        { label: "Hardware", color: "orange", icon: "hardware" },
        { label: "Stack", color: "yellow", icon: "stack" },
        { label: "Sprites", color: "green", icon: "sprite" },
        { label: "Background", color: "teal", icon: "background-image" },
        // { label: "Work memory", color: "cyan", icon: "play" },
        // { label: "Sounds", color: "blue", icon: "play" },
        // { label: "Save storage", color: "purple", icon: "play" },
        // { label: "Game code", color: "pink", icon: "play" }
      ]
    };
  },
  methods: {
    // Pure
    onClick(index: number) {
      this.$emit("update", index);
    }
  },
  props: {
    prop: Number
  }
});
</script>
