<template>
  <div class="memory-blocks stack">
    <template v-for="(value, index) in section">
      <div
        class="value"
        :class="{dissabled: value === 0 && index > pointer, active: value > 0, pointer: index === pointer}"
        :key="index"
        :title="`@${256 + index}`"
      >{{value}}</div>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    section: Uint8Array,
    pointer: Number
  }
});
</script>