<template>
  <div class="memory-blocks zero-page">
    <template v-for="(item, index) in prop">
      <div class="address" v-if="isAddress(index)" :key="'a_' + index">{{label(index)}}</div>
      <div class="value" :class="{active: item > 0}" :key="index" :title="`@${index}`">{{item}}</div>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  methods: {
    isAddress(index: number): boolean {
      return index % 10 === 0;
    },
    label(index: number): string {
      return this.isAddress(index) ? String(index) : "";
    }
  },
  props: {
    prop: Uint8Array
  }
});
</script>