<template>
  <div id="app">
    <!-- Explorer -->
    <Explorer v-show="IDEState.showExplorer" />

    <!-- Code editor -->
    <CodeEditor />

    <!-- Primary widgets -->
    <aside class="column-widgets">
      <DisplayWidget />
      <InputWidget />
    </aside>

    <!-- Secondary widgets -->
    <aside class="column-widgets" v-if="IDEState.showMainWidgets">
      <ProcessorWidget />
      <MemoryWidget />
    </aside>

    <!-- Toolbar -->
    <Toolbar />

    <!-- Console -->
    <Console v-show="IDEState.showConsole" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";

// Components
import CodeEditor from "./components/CodeEditor.vue";
import Console from "./components/Console.vue";
import Explorer from "./components/Explorer.vue";
import Toolbar from "./components/Toolbar.vue";

// States
import IDEState from "./state/IDEState";
import ProjectState from "./state/ProjectState";

// Widgets
import DisplayWidget from "./components/widgets/DisplayWidget.vue";
import InputWidget from "./components/widgets/InputWidget.vue";
import MemoryWidget from "./components/widgets/MemoryWidget.vue";
import ProcessorWidget from "./components/widgets/ProcessorWidget.vue";

export default Vue.extend({
  components: {
    CodeEditor,
    Console,
    Explorer,
    Toolbar,
    DisplayWidget,
    InputWidget,
    MemoryWidget,
    ProcessorWidget
  },
  data() {
    return {
      IDEState: IDEState.data(),
      ProjectState: ProjectState.data()
    };
  },
  created() {
    ProjectState.loadProject();
  }
});
</script>

<style lang="sass">
html 
  color: auto
</style>
