@import "../../../base/_variables.sass";

// block background animation
@keyframes background {
  0% {
    background-color: white;
  }

  50% {
    background-color: $color-info;
    color: white;
  }

  100% {
    background-color: white;
  }
}