@import ./variables
@import ./swatches

html, body
  height: 100%

body
  margin: 0  
  overflow-x: hidden // to fix weird horizontal bar bug on toggle file explorer

#app
  display: flex
  height: 100%
  color: $color-text
  font-family: $font-primary
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.column-widgets
  z-index: 3 // to be on top of codeflask text area
  margin-right: 24px
  padding-top: 24px